<%= render 'shared/flash_messages' %>
<div class="container-fluid">
  <div class="text-center mx-auto">
    生理周期：<%= @menstruation.name %>
    <%= link_to '生理周期を変更する', movies_edit_path, class: 'btn-pink my-4 mx-auto' %>
    <%= paginate @movies %>
    <div class="mx-auto" id="youtube-container">
      <% @movies.each do |movie| %>
        <div class="embed-responsive embed-responsive-16by9 my-4">
          <%= movie(url: movie.url) %>
        </div>
      <% end %>
    </div>
    <%= paginate @movies %>
  </div>
</div>