<div class="container-fluid container-cycle">
  <%= paginate @columns %>
  <% @columns.each do |column| %>
    <div class="card my-3">
      <div class="card-header">
        <h3><%= column.title %></h3>
        <div class="text-right">【公開日】<%= l column.created_at, format: :date %></div>
      </div>
      <div class="card-body">
        <div><%= markdown(column.content).html_safe %></div>
      </div>
    </div>
  <% end %>
  <%= paginate @columns %>
</div>