<%= form_with model: @cycle_record, url: cycle_records_update_path, method: :post ,local: true do |form| %>
  <div class="form-group cycle-date-form">
    <%= form.label :date, class: 'control-label' %>
    <%= form.text_field :date, value: @cycle_record.date, class: 'form-control bg-white', id: 'cycle-record-date-edit', onchange: 'GetCycleRecordData();' %>
  </div>
  <%= render 'form_shared', form: form %>
  <div class="form-group">
    <%= form.submit '修正', class: 'btn btn-primary btn-block mb-4', id: 'cycle-record-button' %>
    <%= form.submit '削除', name: '_destroy' ,class: 'btn btn-danger btn-block', id: 'cycle-record-button-destroy', data: {confirm: "本当に記録を削除しますか？"} %>
  </div>
<% end %>