<div class="container-fluid">
  <%= render 'shared/flash_messages' %>
  <div class="container-cycle">
    <%= link_to '新規記録', new_cycle_record_path, class: 'btn btn-info btn-block mb-2' %>
    <div class="cotainer my-3">
      <input type="date" value=<%= Date.today - 6.day %> id="start-date">
      〜
      <input type="date" value=<%= Date.today %> id="end-date">
      <input type="button" value="期間指定" class="btn btn-primary" onclick="onButtonClickPeriod();">
    </div>
    <div class="cotainer my-3">
      <input type="button" value="過去１週間" class="btn btn-primary" onclick="onButtonClickWeek();">
      <input type="button" value="過去２週間" class="btn btn-primary" onclick="onButtonClickTwoWeek();">
      <input type="button" value="過去１ヶ月" class="btn btn-primary" onclick="onButtonClickMonth();">
      <input type="button" value="過去３ヶ月" class="btn btn-primary" onclick="onButtonClickThreeMonth();">
    </div>
    <canvas id="chartBodyTemperature"></canvas>
    <canvas id="chartBodyWeight"></canvas>
  </div>
</div>
<%= javascript_include_tag 'cycle_records.js' %>