<%= render 'shared/flash_messages' %>
<div class="top-container text-center mt-3">
  <div>
    <div class="top-scalloped top-blue-scalloped">
      <h5><%= l Date.today, format: :date %></h5>
    </div>
  </div>
  <div class="my-4">
    <%= link_to edit_homes_path, class: 'top-button-circle' do %>
      <h5>現在の周期</h5>
      <h2><%= @menstruation %></h2>
    <% end %>
  </div>
  <div class="d-flex align-items-center justify-content-center">
    <div class="top-scalloped top-pink-scalloped">
      <h5><%= @message %></h5>
    </div>
    <%= image_tag "rabbit_0#{rand(1...5)}.png", alt: 'トップ画像', class: 'top-image ml-2' %>
  </div>
</div>
