<div class="container-cycle">
  <%= link_to "食事投稿画面へ", new_meal_path %>
  <% @meals.each do |meal| %>
    <hr>
    <p>生理周期：<%= meal.menstrual_cycle %></p>
    <p><%= image_tag meal.image_url(:thumb) %></p>
    <div><%= simple_format(h meal.comment) %></div>
    <p>
      <%= link_to "削除", meal_path(meal), method: :delete, data: { confirm: "削除しますか？" } %>
      <%= link_to "編集", edit_meal_path(meal), method: :get %>
    </p>

  <% end %>
  <hr>
  <%= link_to "TOPへ", root_path %>
</div>
