<%= form_for @exercise, url: exercise_path(@exercise), html: { method: :patch } do |f| %>
  <p>更新</p>
  <p>生理周期：<%= f.text_field :menstrual_cycle %></p>
  <p><%= image_tag @exercise.image.url(:thumb) %></p>
  <p><%= f.file_field :image %></p>
  <p><%= f.text_area :comment %></p>
  <input type="submit" value="送信">
<% end %>
