<%= link_to "運動投稿画面へ", new_exercise_path %>
<% @exercises.each do |exercise| %>
  <hr>
  <p>生理周期：<%= exercise.menstrual_cycle %></p>
  <p><%= image_tag exercise.image_url(:thumb) %></p>
  <p>コメント：<%= exercise.comment %></p>
  <p>
    <%= link_to "削除", exercise_path(exercise), method: :delete, data: { confirm: "削除しますか？" } %>
    <%= link_to "編集", edit_exercise_path(exercise), method: :get %>
  </p>
<% end %>
